.bicycle-title {
  font-size: 5.3vw;
  color: var(--second-color);
  position: absolute;
  left: 14%;
  bottom: 80%;
  z-index: -1;
}
.btn-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2vmax 0;
}
.btn {
  padding: 1vmax 1.5vmax;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  background-color: var(--second-color);
  color: var(--text-white);
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
.btn:hover {
  background-color: var(--text-white);
  color: var(--main-color);
}
.product-card {
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s ease 0s;
}
.product-card:hover {
  background: var(--bg-black);
}
.product-card-img {
  margin-bottom: 20px;
}
.product-name {
  font-size: 2rem;
  color: var(--text-color);
  text-decoration: none;
  margin-bottom: 10px;
}
.product-price {
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
  display: block;
}

@media screen and (max-width: 800px) {
  .btn-wrapper {
    margin: 3vmax 0;
  }
}
