.link-item {
  text-decoration: none;
  color: #bbbbbb;
}
ul {
  list-style: none;
}
.container {
  width: 100%;
  padding: 0 40px;
}
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  padding: 14px 0;
}
.navbar .flex {
  justify-content: space-between;
}
.navbar ul {
  display: flex;
}
.navbar a {
  color: #bbbbbb;
  font-size: 1.3rem;
  letter-spacing: 2px;
  padding: 10px;
  margin: 0 5px;
  transition: color 0.2s ease-out;
  text-decoration: none;
}
.navbar a:hover {
  color: var(--dark-color);
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
