.hero {
  min-height: 100vh;
  padding-top: 90px;
  position: relative;
}
.slide-container {
  height: 100%;
  position: relative;
}
.slide {
  width: 94%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.slide-img {
  width: 50%;
  padding-top: 4vmax;
  z-index: 1;
}

.slide-img img {
  width: 100%;
}
.slide-text {
  width: 42%;
}

.slide-title {
  width: max-content;
}
.slide-title > h3 {
  text-transform: capitalize;
  font-size: 10vw;
  font-family: BerlinSansFBDemiBold;
  color: var(--text-white);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 4px;
}
.slide-description,
.slide-btn {
  margin-top: 3vmax;
}
.slide-description > p {
  font-size: 1.4rem;
}

.hero-btn {
  letter-spacing: 1px;
  font-size: 2vw;
  font-weight: bold;
  border: none;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.1vmax 2.7vmax;
  background-color: var(--text-white);
  color: var(--main-color);
  transition: all 0.3s ease;
}
.hero-btn:hover {
  color: #fff;
  background-color: var(--second-color);
}
.hero-text {
  position: absolute;
  text-transform: uppercase;
  font-family: BerlinSansFBDemiBold;
  font-size: 10vmax;
  top: 120px;
  right: -60px;
  color: var(--second-color);
  transform: rotate(-90deg);
}

@media (max-width: 800px) {
  .slide {
    flex-direction: column;
    align-items: center;
  }
  .slide-text {
    width: 90%;
    margin: 0 auto;
    z-index: 999;
  }
  .slide-img {
    width: 80%;
    margin: auto;
    z-index: 999;
  }
  .hero-text {
    z-index: -1;
    font-size: 14vmax;
  }
  .slide-title > h3 {
    -webkit-text-stroke-width: 2px;
  }
  .slide-description > p {
    font-size: 1.2rem;
  }
}
@media (max-width: 600px) {
  .hero-text {
    display: none;
  }
  .slide-img img {
    margin-top: 8vmax;
  }
}
