.section-content {
  margin-top: 30px;
  padding: 4rem 4rem 0;
}
.section-title {
  font-family: BerlinSansFBDemiBold;
  text-align: center;
  position: relative;
}
.section-title > h3 {
  text-transform: uppercase;
}
.second-title {
  font-size: 4.5rem;
  color: var(--second-color);
  position: absolute;
  left: 14%;
  bottom: 40%;
  z-index: -1;
}
.main-title {
  font-size: 3.5rem;
  z-index: 1;
}
.category-img {
  padding: 1rem;
  height: 400px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.category-img-inner {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-position: bottom;
  background-size: cover;
  transition: transform 1s ease 0s;
}

.category-img:hover .category-img-inner {
  transform: scale(1.3);
}
.category-title {
  font-size: 4.1rem;
  font-weight: 700;
  padding: 2rem;
  position: absolute;
  bottom: 0;
  color: var(--text-white);
  text-transform: capitalize;
}
